.refund-pannel{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}

.refund-ui-container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(216, 213, 235);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: min-content;
  max-width: fit-content;
  padding: 7px;
  height: 100%;
}

.refund-ui{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    min-width: 60px;
    max-width: 50vw;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    padding: 10px;
    height: 100%;
  }

  .refund-field{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  
  .refund-field label{
    width: 15vw;
  }
  
  .refund-field input{
    width: 25vw;
  }

  .refund-field textarea{
    width: 25vw;
  }