@mixin shadow-boarder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin flex-row-center-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-view-panel{
    @include flex-row-center-layout;
    max-width: 100%;
    min-height: 80%;
    max-height: 100%;
}