@import './main.scss';

.login-screen {
    @include shadow-boarder;
    @include flex-col-center-layout;
    form {
        @include flex-col-center-layout;
        width: 35vw;
        height: 40vh;

        .std-form-control {
            min-width: 30vw;
            max-width: 100%;
            @include flex-row-center-layout;
            margin:5px;
            margin-bottom: 10px;
            label {
                flex: 1;
            }

            input {
                flex: 2;
                margin-right: 5vw;
            }
        }

        .login-options {
            @include flex-row-center-layout;
            justify-content: space-evenly;
            margin-top: 5vh;
            button {
                width: 5vw;
                margin: 5px;
            }
        }
     }
}