@import '../main.scss';

.page-number-list{
    li{
        display: inline;
    }
}

.page-number-btn{
    &.selected{
        font-weight: bolder;
    }

    .unSelected{
        font-weight: lighter;
    }
}